<%- include('partials/header') %>
<div class="form-container">
<img src="/images/connections.png"/>
    <h1>The Ideator</h1>
    <br>
    <body>Welcome to The Ideator!</body>
    <br>
    <body>Generate ideas and explore word connections</body>
    <br>

    <h3>Log in to start your journey</h3>
    <br>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
      </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
            <a href="/register" class="btn btn-link">Create account</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
